<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>900508622662-uf6pcfg452v5bvu5agbipb4kotesjcqo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.900508622662-uf6pcfg452v5bvu5agbipb4kotesjcqo</string>
	<key>API_KEY</key>
	<string>AIzaSyB58eldGn-6gElmntbuwVVUQbPXM8ECkV8</string>
	<key>GCM_SENDER_ID</key>
	<string>900508622662</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.weddingBudget</string>
	<key>PROJECT_ID</key>
	<string>weddingbudget-bc127</string>
	<key>STORAGE_BUCKET</key>
	<string>weddingbudget-bc127.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:900508622662:ios:d9fa4d2eea6f65239a4f47</string>
	<key>DATABASE_URL</key>
	<string>https://weddingbudget-bc127.firebaseio.com</string>
</dict>
</plist>